body{
    padding: 0;
    margin: 0;

    /* 210vh is the max width of the screen on desktop */
}

.Sidebar{
    background-color: white;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    height: 100vh;
    width: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .Sidebar{
        background-color: white;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 0.25vh;
        height: 15vh;
        width: 100vw;
        padding: 4vh;
        position: fixed;
    }
}

.Logo{
    width: 100%;
    height: auto;
}

.COLORTEST{
    opacity: 100%;
    z-index: 100;
    width: 15vw;
    height: auto;
    position: absolute;
    float: left;
    top: 50%;
    transform: translate(0%, -55%);
}

.Triangles{
    float: left;
    height: 100vh;
    position: fixed;
    z-index: 5;
    bottom: 0;
}

.Triangles img{
    position: absolute;
    bottom: 0;
    width: 27vw;
}

@media screen and (max-width: 600px) {
    .Triangles{
        height: 0;
    }
}

nav{
    font-family: 'Montserrat', serif;
    font-size: 1.05vw;
    margin-top: 4vh;
}

.hover-underline-animation{
    position: relative;
}

.hover-underline-animation:before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.hover-underline-animation:hover:before{
    visibility: visible;
    width: 100%;
}

.Sidebar a:link{
    color: black;
    text-decoration: none;
}

.Sidebar a:visited{
    color: black;
}

.Sidebar a:hover{
    text-decoration: none;
}

.Image_Gallery{
    height: 500vh;
    width: 81vw;
    position: relative;
    margin-left: 19vw;
    z-index: 3;
    animation: fadein ease-in 0.75s;
}

@keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

.box{
    height: 24vw;
    width: 27vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box img{
    flex-shrink: 0;
    width: 100%;
    max-width: 120%;
}

.boxhide{
    position: absolute;
    height: 100%;
    opacity: 0%;
}

.boxhide img{
    min-height: 100% !important;
}
  
.boxhide:hover {
    opacity: 100%;
    transition: 0.15s ease-in;
    position: absolute;
    height: 100%;
}

.row {
    position: relative;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.box_PC{
    height: 50vh;
    width: 84.5vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 0;
}

.box_PC img{
    flex-shrink: 0;
    max-width: 100%;
}